*{
    scroll-behavior: smooth;
}

main{
    min-height: 100vh;
    width: 100%;
}

.hero{
    display: flex;
    height: 40vh;
    min-width: 100%;
    justify-content: center;
    align-items: center;

    .items{
        width: 80%;
    }
}
@media screen and (max-width:640px){
    .hero{
        height: auto;
        justify-content: center;
        align-items: center;
        padding-top: 25px;
    }
}